@media (min-width:100%)
.contentWithSidebar__sidebar
{display:block;
}


body
{
	width:100%;
	height:100%;
	background:fixed no-repeat;
	background-image:url("fond.jpg");
	background-image: url("poetry.jpg") fixed no-repeat top-right;
	
}



*
{
	text-align:center;
}

ol 
{
	
	list-style:none;
	text-align:center;
}
	
h1
{font-family:impact,Arial;
	color:white;
font-weight: bold;
border:3px black  radius:3px/6px;
border-radius:3px;
box-shadow:3px 4px 6px black;
background-color:grey;

}

h2
{
	font-size: 1.2em;
    color:green;

}
li
{
font-family:Arbutus,Impact,"Arial black";
font-size:1.1em;
color:navy;
text-align:center;

}
.introduction
{
 font-family:"Comic Sans MS",Arial;
 font-size:1.2em;
 color:yellow;
}
.bonjour
{
	font-family:Impact,Arial;
	font-size:1.5em;
	color:black;
	border-radius:4px/6px;
	text-shadow:2px 2px 3px white;
    border: 4px grey ;
	box-shadow:4px 5px 6px grey;
}
a
{
	color:blue;
}
strong
{
	font-family:Impact,Arial;
	font-size:1.3em;
	font-weight:bold;
	color:aqua;
	
}
.lien-vers-la-page-2
{
	font-size:1.2em;
	color:white;
	text-shadow:1px 2px 3px navy;
}
.bouge
{
	font-family:Impact,Arial;
	color:navy;
	text-shadow:2px 2px 4px blue;
	font-size:1.2em;
}
.bouge:hover
{
	font-family:Impact,Arial;
	color:white;
	text-shadow:2px 2px 4px black;
	font-size:1.2em;
	font-family:italic;
}
.bouge:active
{
	color:yellow;
	font-size:1.4em;
	font-family:bold;
}
.bouge:visited
{
	font-family:Impact,Arial;
	color:silver;
	text-shadow:2px 2px 4px blue;
	font-size:1.2em;
}
	
mark
{
font-family:"Comic Sans MS";
font-size:1em;
font-style:italic;
font-weight:bold;
}
.evoluer
{
	font-family:"Comic Sans MS";
	font-size:1.2em;
	font-weight:bold;
	color:teal;
	text-decoration:underline;
}
.image-flottante
{
	float:center;
}

.myButton {
	
	box-shadow:inset 3px 4px 0px 0px #97c4fe;
	background:linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);
	background-color:#3d94f6;
	border-radius:6px;
	border:1px solid #0065fc;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:3px 9px;
	text-decoration:none;
	text-shadow:0px 1px 0px #1570cd;
}
.myButton:hover {
	background:linear-gradient(to bottom, #1e62d0 5%, #3d94f6 100%);
	background-color:black;
	font-style:italic;
	color:black;
}
.myButton:active {
	position:relative;
	top:1px;
}
.mail:hover
{
text-shadow:inset white 1px 2px 3px white;
font-style:italic;
text-decoration:underline;
color: navy;
}
